.competence-image {
  background-image: url(../images/Upper-Ribbon-Comp.jpg);
  width: 99%;
  height: 30vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.competence-image {
  padding-left: 0.7rem;
}

.competence-image .competence-text {
  color: #fff;
  max-width: 360px;
  padding-top: 0.3rem;
  padding-left: 0.7rem;
}

.core-competence {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.competence-left-side {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
}

.competence-left-side .competence-card {
  display: flex;
  gap: 0.5rem;
}

.competence-card img {
  width: 6.3vw;
}

.competence-card .figure-footer {
  text-align: right;
}

.competence-progress .process-card {
  display: flex;
  gap: 0.7rem;
}

.process-card-footer {
  text-align: right;
}

/* Media Queries */
/* Mobile Display */
@media (max-width: 850px) {

  .main-container .competence-image {
    width: 99%;
    height: 50vw;
  }

  .competence-image img {
    width: 40vw;
  }

  .core-competence {
    grid-template-columns: repeat(1, 1fr);
  }

  .competence-left-side .competence-card {
    flex-direction: column;
  }

  .competence-card .figure-footer {
    text-align: center;
  }

  .competence-right-side img {
    width: 90vw;
  }

  .competence-progress .process-card {
    flex-direction: column;
  }

  .process-card img:last-of-type {
    width: 84vw;
  }
}