.main-container .contact-image {
    background-image: url(../images/UC-Happy-Woman.jpg);
    width: 100%;
    height: 30vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-image {
    position: relative;
    padding: 0.3rem;
    color: #fff;
}

.contact-image img {
    width: 37vw;
    z-index: 9;
}

.contact-image .form-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.2rem;
    border-radius: 10px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    margin-bottom: 1.6rem;
}

.contact-uppercase .maps-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    color: gray;
}

.main-container img {
    width: 40vw;
}

.maps-container article footer {
    text-align: right;
}

.main-container article footer a {
    color: gray;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.form-container img {
    width: 18vw;
    margin-left: auto;
    margin-right: auto;
}

.form-container form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

form .form-left {
    display: flex;
    flex-direction: column;
}

form .form-right {
    display: flex;
    flex-direction: column;
}

.form-right textarea {
    resize: none;
}

.form-right span {
    padding-top: 0.6rem;
    display: flex;
    gap: 0.5rem;
}

.form-right input[type=reset],
.form-right input[type="submit"] {
    padding: 1rem 5rem;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.form-right input[type=reset]:hover,
.form-right input[type="submit"]:hover {
    cursor: pointer;
}

.form-right input[type="reset"] {
    background: red;
}

.form-right input[type="submit"] {
    background: limegreen;
}

.form-container form input {
    padding: 0.5rem;
}

form .checkboxes span {
    padding-top: 0.6rem;
    display: flex;
}

form .radioBtns {
    padding-top: 1rem;
}

form .radioBtns span {
    display: flex;
}

/* Media Queries */
/* Mobile Display */
@media (max-width: 850px) {

    .main-container .contact-image {
        width: 99%;
        height: 30vw;
    }

    .contact-image .form-btn {
        padding: 0.4rem;
        margin-bottom: 1rem;
    }

    /* Styling the google maps image */
    .maps-container img {
        width: 90vw;
    }

    .contact-uppercase .maps-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .form-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .form-container form{
        grid-template-columns: repeat(1, 1fr);
    }

    .form-right span input[type="reset"],
    .form-right span input[type="submit"]{
        margin-left: auto;
        margin-right: auto;
    }

}